<div class="container">
  <div class="col-md-6 col-md-offset-2">
    <%= form_for @gym do |g| %>
      <!-- error message -->
      <% if @gym_edit_error %>
        <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
      <% end %>
      <%= g.label :address %>
      <%= g.text_field :address, class: "form-control", autofocus: true %>
      <%= g.label :website %><!-- <button class='btn btn-default'>http://</button> -->
      <%= g.text_field :website, class: "form-control", placeholder: "www.crossfitgym.com" %>
      <br>
      <%= g.label :phone %>
      <%= g.text_field :phone, class: "form-control" %>
      <br>
      <span class="pull-right">
        <%= g.submit 'Submit', value: "Submit", class: "btn btn-primary" %> 
      </span>
    <% end %>
  </div>
</div>