<!-- Gym show  -->
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h3><%=@gym.name%></h3>
				<h4><%= @gym.address %></h4>
				<h4><%= @gym.website %></h4>
				<h4><%= @gym.phone %></h4>
				<h5><%= @focus %></h5>
					
			<div class="table-responsive">
				<div class="table table-condensed">
					<table style="width:100%">
			  		<tr>
			    		<td><strong>Programming</strong></td>
							<td><strong>Community</strong></td>
							<td><strong>Facility</strong></td>
							<td><strong>Value</strong></td>
			  		</tr>
			  		<tr>
			   			<td><div class="star-rating-pro" data-score=<%= @avg_pro_review %>></div></td>
							<td><div class="star-rating-com" data-score=<%= @avg_com_review %>></div></td>
							<td><div class="star-rating-fac" data-score=<%= @avg_fac_review %>></div></td>
							<td><div class="star-rating-val" data-score=<%= @avg_val_review %>></div></td>
			  		</tr>
			  		<tr>
							<td><em><%= "#{@gym.reviews.length} reviews" %></em><br></td>
							<td><em><%= "#{@gym.reviews.length} reviews" %></em><br></td>
							<td><em><%= "#{@gym.reviews.length} reviews" %></em><br></td>
							<td><em><%= "#{@gym.reviews.length} reviews" %></em><br></td>
						</tr>
					</table>
				</div>
			</div>
			
				
				
				
				
		
			
				
				<!-- put image here -->
				<% if @user %>
				 <span class="pull-right"><%= link_to 'Edit Gym', edit_gym_path, class: 'btn btn-primary' %></span>
		  	<% end %>
		  	<br>
		  	<br>
	  	
	 	</div>
		<br>
<!-- New review form -->
		<% if @user %>
		<div class="col-md-5 well">
				<h4 class="text-center">New Review</h4>
					<%= form_for @review do |r| %>
						<%= r.hidden_field :gym_id, :value => @gym.id %>
						<%= r.hidden_field :user_id, :value => @user.id %>
						<%= r.text_area :body, class: "form-control", autofocus: true %>
						<br>
						<div class="check-boxes">
							<div class="table-responsive">
									<div class="table table-condensed">
										<table style="width:100%">
								  		<tr>
								    		<td><%= r.check_box(:weightlifting_focus) %> <strong>Weightlifting Focus</strong></td>
												<td><%= r.check_box(:metcon_focus) %> <strong>Metcon Focus</strong></td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						<div class="ratings">
							<div class="table-responsive">
								<div class="table table-condensed">
									<table style="width:100%">
							  		<tr>
							    		<td><strong>Programming</strong></td>
											<td><strong>Community</strong></td>
											<td><strong>Facility</strong></td>
											<td><strong>Value</strong></td>
							  		</tr>
							  		<tr>
							  			<td><div id="star-rating-pro"></div> </td>
							  			<td><div id="star-rating-com"></div> </td>
							  			<td><div id="star-rating-fac"></div> </td>
							  			<td><div id="star-rating-val"></div> </td>
							  		</tr>
							  	</table>
								</div>
							</div>	
							<div class="text-right">
							<%= r.submit 'review', value: "Post!", class: "btn btn-primary" %>
							</div>
						</div>
					<% end %>
					<% end %>
			</div>
	</div>
</div>
<br>
<!-- end review form -->

<!-- Display Reviews -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<% @reviews.reverse.each do |review|  %>
			<ul class='list-unstyled'>
				<li class='list-unstyled'>
				<% if @reviews %>
					<strong><%= review.body %></strong>
						<div class="table-responsive">
								<div class="table table-condensed">
									<table style="width:100%">
							  		<tr>
							    		<td><strong>Programming</strong></td>
											<td><strong>Community</strong></td>
											<td><strong>Facility</strong></td>
											<td><strong>Value</strong></td>
							  		</tr>
							  		<tr>
							  			<td><div class="star-rating-pro" data-score=<%= review.programming %>></div></td>
											<td><div class="star-rating-com" data-score=<%= review.community %>></div></td>
											<td><div class="star-rating-fac" data-score=<%= review.facility %>></div></td>
											<td><div class="star-rating-val" data-score=<%= review.value %>></div></td>
										</tr>
									</table>
								</div>
							</div>
				
			 		<span class="pull-right">
			 			<% if @user %>
	      	<%= link_to '', "/reviews/#{review.id}/edit", class: 'ion ion-edit' %>
	      		<% else %>
	      		<h2>There are not reviews yet</h2>
	      		<% end %>
	      	<% end %>
	     		</span>
				 <!-- Edit review -->
				<!--  -->
					<!-- end edit review -->
					<hr><br>
	     	</li>
			</ul>
			<% end %>
	  </div>
	</div>
</div>
<!-- script for making rating on stars -->
<script>
	$('#star-rating-pro').raty({
		path: '/assets/', 
		scoreName: 'review[programming]'
	});
</script>
<script>
	$('#star-rating-fac').raty({
		path: '/assets/', 
		scoreName: 'review[facility]'
	});
</script>
<script>
	$('#star-rating-val').raty({
		path: '/assets/', 
		scoreName: 'review[value]'
	});
</script>
<script>
	$('#star-rating-com').raty({
		path: '/assets/', 
		scoreName: 'review[community]'
	});
</script>
<!-- Script for displaying rating -->
<script>
	$('.star-rating-pro').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
<script>
	$('.star-rating-fac').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
<script>
	$('.star-rating-val').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
<script>
	$('.star-rating-com').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>

