<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for @review do |r| %>
      <!-- error message -->
      <% if @review_edit_error %>
        <div class="alert alert-info text-center alert-danger"><%= flash[:error] %></div>
      <% end %>
      <h2> Edit Review </h2>
        <%= r.text_area :body, class: "form-control", autofocus: true %>
      <br>
      <div class="check-boxes">
        <%= r.check_box(:weightlifting_focus) %> <strong>Weightlifting Focus</strong>
        <%= r.check_box(:metcon_focus) %> <strong>Metcon Focus</strong>
      </div>
       <div class="ratings">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            Programming<br>
            <div id="star-rating-pro"></div>
          </div>
          <div class="col-xs-6 col-sm-3">
            Community<br>
            <div id="star-rating-com"></div>
          </div>
          <div class="col-xs-6 col-sm-3">
            Value<br>
            <div id="star-rating-val"></div>
          </div>
          <div class="col-xs-6 col-sm-3">
            Facility<br>
            <div id="star-rating-fac"></div>
          </div>
        </div>
        </p>
        <span class="pull-right">
         <%= r.submit 'Submit', value: "Submit", class: "btn btn-primary" %> 
          <%= link_to 'Delete', review_path, method: :delete, class: "btn btn-danger" %>
        </span>
      <% end %>
    </div>
</div>

<!-- script for making rating on stars -->
<script>
  $('#star-rating-pro').raty({
    // path: '/assets/', 
    scoreName: 'review[programming]'
  });
</script>
<script>
  $('#star-rating-fac').raty({
    // path: '/assets/', 
    scoreName: 'review[facility]'
  });
</script>
<script>
  $('#star-rating-val').raty({
    // path: '/assets/', 
    scoreName: 'review[value]'
  });
</script>
<script>
  $('#star-rating-com').raty({
    // path: '/assets/', 
    scoreName: 'review[community]'
  });
</script>
<!-- Script for displaying rating -->